<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'js/jquery3.3.1.js' %}"></script>
    <link href="{% static 'css/bootstrap3.3.7.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %} " rel="stylesheet">

    {% block page_css %}
    {% endblock %}
    {% block page_jq %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block page_head %}
    {% endblock %}
    {% block page_main %}

    {% endblock %}
    {% block page_footer %}

    {% endblock %}


</div>
</body>
</html>