<div class="shop_img_warp clear">
    <div id="shop_detail_img" class="shop_detail_img">
        <ul id="shop_img_middle">
            {% for img in shop.imgs %}
                {% if img.type == 'type_single' %}
                    {% if  forloop.first %}
                        <li><img src="/static/img/middle/{{ img.shop_img_id }}.jpg"></li>
                    {% else %}
                        <li style="display: none"><img src="/static/img/middle/{{ img.shop_img_id }}.jpg"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="shop_img_small" class="shop_img_small clear">
            {% for img in shop.imgs %}
                {% if img.type == 'type_single' %}
                    <li><img src="/static/img/small/{{ img.shop_img_id }}.jpg"></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="shop_detail_content">
        <p>{{ shop.name }}</p>
        <p>{{ shop.sub_title }}</p>
        <p>{{ shop.original_price }}</p>
        <p>{{ shop.promote_price }}</p>
    </div>

    <input id="number" type="number" value="1" min="1" max="{{ shop.stock }}"><span>{{ shop.stock }}</span>
    <div>
        <button type="button">立即购买</button>
        <button type="button" id="buy" shopid="{{ shop.shop_id }}">加入购物车</button>
    </div>
</div>