<section class="cartMain">
    <form action="" method="post">
        {% csrf_token %}
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <li class="list_chk">
                    <!--所有商品全选-->
                    <input type="checkbox" id="all" class="whole_check">
                    <label for="all"></label>
                    全选
                </li>
                <li class="list_con">商品信息</li>
                <li class="list_price">商品价格</li>
                <li class="list_amount">数量</li>
                <li class="list_sum">金额</li>
                <li class="list_op">操作</li>
            </ul>
        </div>
        <div class="cartBox">
            <div class="order_content">
                {% for car in car_list %}
                    <ul class="order_lists">
                        <li class="list_chk">
                            <input type="checkbox" id="checkbox_{{ forloop.counter0 }}" class="son_check" value="1">
                            <label for="checkbox_{{ forloop.counter0 }}"></label>
                        </li>
                        <!-- 商品信息-->
                        <li class="list_con">
                            <div class="list_img">
                                <a href="javascript:;">
                                    <img src="/static/img/middle/{{ car.shop.img }}.jpg" alt="">
                                </a>
                            </div>
                            <div class="list_text"><a href="">{{ car.shop.name }}</a>
                            </div>
                        </li>
                        <!-- 商品单价-->
                        <li class="list_price">
                            <p class="price">￥{{ car.shop.original_price }}</p>
                            <p class="price">￥{{ car.shop.promote_price }}</p>
                        </li>
                        <!-- 商品数量 -->
                        <li class="list_amount">
                            <div class="amount_box">
                                <a href="javascript:;" class="reduce reSty">-</a>
                                <input type="text" value="{{ car.number }}" id="{{ car.car_id }}" name="nums"
                                       class="sum">
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </li>
                        <!-- 单件商品总价-->
                        <li class="list_sum">
                            <p class="sum_price">￥{{ car.shop.promote_price }} </p>
                        </li>
                        <li class="list_op">
                            <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <!--底部-->
            <div class="bar-wrapper">
                <div class="bar-right">
                    <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                    <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                    <div class="calBtn"><input type="button" id="buy_btn" value="结算"></div>
                </div>
            </div>
            <section class="model_bg"></section>
            <section class="my_model">
                <p class="title">删除宝贝<span class="closeModel">X</span></p>
                <p>您确认要删除该宝贝吗？</p>
                <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;"
                                                                                       class="dialog-close">关闭</a></div>
            </section>
        </div>
    </form>
</section>

