<div id="top" class="head_top clear">
    <div class="top-left">

        <span class="glyphicon glyphicon-home"></span><a href="/">商城首页 </a>

        <span class="head-content">欢迎来到91商城</span>
        {% if user.is_authenticated %}
            {#表示登录成功显示#}
            <span>{{ user.username }}</span>
            <a href="{% url 'logout' %}">登出</a>
        {% else %}
            {#未登录显示#}
            <a href="{% url 'login' %}">登录</a>
            <a href="#">注册</a>
        {% endif %}
    </div>
    <div class="top-right">
        <a href="#">我的订单</a>
        <a href="{% url 'list' %}" id="car"> <span class="glyphicon glyphicon-shopping-cart"></span>购物车
            <span id="car_number">0</span><span>件</span>
        </a>
    </div>
</div>